:root {
  --Font-Primary: "Barlow Semi Condensed", sans-serif;
  --Violet: hsl(263, 55%, 52%);
  --grayish-blue: hsl(217, 19%, 35%);
  --blackish: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 81%);
  --grayish: hsl(210, 46%, 95%);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--Font-Primary);
  background-color: var(--grayish);
  color: var(--White);
}
.testimonials {
  margin: 30px;
  padding: 20px;
  border-radius: 20px;
}

.testimonials:first-child {
  background-image: url(/assets/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-color: var(--Violet);
}
.testimonials:nth-child(2) {
  background-color: var(--grayish-blue);
}
.testimonials:nth-child(4) {
  background-color: var(--blackish);
}

.testimonials:nth-child(3),
.testimonials:last-child {
  color: var(--blackish);
  background-color: var(--White);
}

.testimonial__profile {
  display: flex;
  align-items: center;
}
.testimonial__author {
  margin-left: 20px;
}
.testimonial__name,
.testimonial__description {
  margin: 0;
}
.testimonial__name {
  font-weight: 600;
}
.testimonial__description {
  color: var(--gray);
  font-weight: 400;
}
.testimonial__image {
  max-width: 100%;
  border-radius: 50%;
}
.main {
  display: grid;
}

@media screen and (min-width: 700px) {
  .main {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
  }
  .testimonials {
    margin: 10px;
  }
  .testimonials:first-child {
    grid-column: 1/3;
  }
  .testimonials:nth-child(4) {
    grid-column: 2/4;
  }
  .testimonials:last-child {
    grid-column: 4/5;
    grid-row: 1/3;
  }
}
